[submodule "CTFd/plugins/ctfd-whale"]
	path = CTFd/plugins/ctfd-whale
	url = git@github.com:apogiatzis/ctfd-ovis.git
[submodule "CTFd/themes/neon"]
	path = CTFd/themes/neon
	url = git@github.com:apogiatzis/ctfd-neon-theme.git
[submodule "CTFd/themes/samui"]
	path = CTFd/themes/samui
	url = git@github.com:apogiatzis/ctfd-samui-theme.git
[submodule "CTFd/plugins/ctfd-notifier"]
	path = CTFd/plugins/ctfd-notifier
	url = git@github.com:cybermouflons/ctfd-notifier.git
