[submodule "CTFd/plugins/ctfd-whale"]
	path = CTFd/plugins/ctfd-whale
	url = https://github.com/apogiatzis/ctfd-ovis
	branch = [master]
[submodule "CTFd/themes/neon"]
	path = CTFd/themes/neon
	url = https://github.com/apogiatzis/ctfd-neon-theme
